<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:security="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Добавить пользователя</title>
</head>
<body>
<h2>Добавить пользователя</h2>
<div>
  <form th:action="@{/admin/create}" th:object="${user}" method="post">
    <fieldset>
      <legend>Данные пользователя</legend>
      <p>
        <label th:for="username">Имя</label>
        <input type="text" name="username" th:id="username" th:value="${user.getUsername()}">
      </p>
      <p>
        <label th:for="surname">Фамилия</label>
        <input type="text" name="surname" th:id="surname" th:value="${user.getSurname()}"><br/>

      </p>
      <p>
        <label th:for="password">Пароль</label>
        <input type="text" name="password" th:id="password" th:value="${user.getPassword()}"><br/>
      </p>
        <p>
          <label>Роль:
            <input type="checkbox" name="roles"
                   th:each="role : ${list}"
                   th:text="${role.getRole()}"
                   th:value="${role.getId()}"
                   th:field="*{roles}"
            />
          </label>
        </p>
    </fieldset>
    <button type="submit" th:action="@{/admin/create}">Сохранить пользователя</button>
  </form>
  <br/>
  <form th:action="@{/admin}">
    <button type="submit" class="btn btn-outline-danger">Назад к списку пользователей</button>
  </form>
</div>
</body>
</html>
