<!DOCTYPE html>
<html lang="en" xmlns: th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User:</title>
</head>
<body>
<p th:text="${userId.getId()}">Value</p>
<p th:text="${userId.getName()}">Value</p>
<p th:text="${userId.getSurname()}">Value</p>
<!--<p th:text="${userId.getPassword()}">Value</p>-->
<p th:text="${userId.getRoles()}">Value</p>
<!--<a th:href="@{/admin/{id}/edit(id=${userId.getId()})}" >Edit page</a>-->
<!--<form th:method="DELETE" th:action="@{/admin/{id}(id=${userId.getId()})}">
    <input type="submit" value="DELETE USER">
</form>-->
<br/>
<hr>
<a th:href="@{/logout}">Exit</a>

<br/>
<hr>
<a th:href="@{/admin}">Start Page</a>
</body>
</html>