<!DOCTYPE html>
<html lang="en" xmlns: th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link href="design_css.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div th:each="info : ${infoUser}">
    <h3>Id:</h3>
    <h3 th:text="${infoUser.getId()}"></h3>
    <h3>Name:</h3>
    <h3 th:text="${infoUser.getName()}"></h3>
    <h3>Surname:</h3>
    <h3 th:text="${infoUser.getSurname()}"></h3>
    <h3>Password:</h3>
    <h3 th:text="${infoUser.getPassword()}"></h3>
    <h3>Roles:</h3>
    <h3 th:text="${infoUser.getRoles()}"></h3>
    <br/>
    <br/>
    <hr>
    <a th:href="@{/logout}">Exit</a>
</div>
</body>
</html>